{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}

<h1> Liste des personnages : </h1>

<a class="btn mb-4" href="{{ path('character_new')}}">Ajouter</a>

<div class="d-flex flex-wrap justify-content-around">
    {% for character in characters %}

        <div class="card mb-5" style="width: 18rem;"> 
            <img class="card-img-top" src="{{ character.picture }}" alt="character picture">
            <div class="card-body">
                <h5 class="card-title">{{ character.name }}</h5>
                <p class="card-text">{{ character.description[:150]~'...'}}</p>
                <a href="{{ path('character_show',{'id' : character.id})}}" class="btn">Détail</a>
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}
