{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}

<a href="{{ path('character_new')}}">
    <button>Ajouter</button>
</a>

<h1> Liste des personnages : </h1>

{% for character in characters %}

<a href="{{ path('character_show',{'id' : character.id})}}">{{ character.name }}</a>
<img src="{{ character.picture }}" alt="character picture">
<p>{{ character.description }} </p>

{% endfor %}

{% endblock %}
