{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}

<h1> {{ season.name }} </h1>

<button><a href="{{ path('season_edit', {'id' : season.id}) }}">Modifier</a></button>

<div class="season-container">
    <img src="{{ season.picture }}" alt="picture jojo season">
    <div class="season-container right">
        <p>Date de sortie : {{ season.date|date("d/m/Y") }}</p>
        <p>{{ season.description }} </p>
    </div>
</div>

<h2>Liste des personnages de la saison : </h2>
<div class="character-list">
{% for character in season.characters %}
    <div class="character">
        <a href="{{ path('character_show',{'id' : character.id})}}">{{ character.name }}
            <img src="{{ character.picture }}" alt="character picture">
        </a>
    </div>
{% endfor %}
</div>

{% endblock %}