{% extends 'base.html.twig' %}

{% block title %}Stands{% endblock %}

{% block body %}

<a href="{{ path('character_new')}}">
    <button>Ajouter</button>
</a>

<h1> Liste des stands : </h1>
{% for stand in stands %}

<a href="{{ path('stand_show', {'id' : stand.id})}}">{{ stand.name }}</a>
<img src="{{ stand.picture }}" alt="character picture">
<p>{{ stand.description }} </p>

{% endfor %}

{% endblock %}
